body {
    background-image: url("yarn.jpeg");
    background-size: cover;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    height: 100vh;
}

.container {
    background: white;
    width: 80%;
    max-width: 500px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 25px auto;
}

h1 { margin-block: 10px; }

h2 {
    font-size: 50px;
    margin-block: 0 20px;
}

button {
    width: 200px;
    color: white;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 5px;
    padding-block: 10px;
    margin-bottom: 5px;
}

#increment-btn { background: #2C2891; }

#save-btn { background: #1C7947; }

#save-el { font-weight: bold; }
